<!DOCTYPE html>
<html>
  <head>
    <title>About | MeowBox</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      MeowBox was created by a dude in NYC who actually doesn't own any cats, but appreciates how cat-people can be, and how funny and smart cats are, and decided to make this for y'all. Enjoy.
      <br><br>    - Chris
      <br><br><br><br>
      P.S. did i mention that I don't own any cats?
    </p>
  </body>
</html>