<!DOCTYPE html>
<html>
  <head>
    <title>Help | MeowBox</title>
  </head>
  <body>
    <h1>MeowBox Help</h1>
    <p>
      MeowBox Help is currently a work-in-progress. For now, please just <a href="mailto:help@meowbox.com">email us directly</a>. A-paw-logies!
    </p>
  </body>
</html>