<h1>Meowbox</h1>

<p>Hi <%= @user.username %>,</p>

<p>
Welcome to Meowbox! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>