Hi <%= @user.first_name %>,

Welcome to Meowbox! Click on the link below to activate your account and get crackalacking:

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>