<li>
  <!-- see 9.4.1 if you want gravatar code. wanted to save space/loadtime/privacy -->
  <%= link_to user.username, user %>
  <% if current_user.is_admin? && !current_user?(user) %> | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure you want to remove that user?" } %>
  <% end %>
</li>
