<h3><%= @user.username %></h3><br><br>


<% provide(:title, @user.username) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.username %>
            </h1>
        </section>
    </aside>
</div>
<h4>
First Name: <i><%= @user.first_name %> </i><br>
Last Name: <i><%= @user.last_name %> </i><br>
Contact: <i><%= @user.email %> </i><br>
Email confirmed: <i><%= @user.activated %> </i><br>
Account type: 
  <% if @user.is_admin %>
    <font color="#cc3333"><i>Administrator </i></font><br>
  <% else %>
    <i>Regular User</i><br>
  <% end %>
</h4>
<hr>
<h3><%= @user.username %>'s current subscription data:</h3>
<ul>
<% @user_subs.each do |subscription| %>
  <li>
    <p>Started Subscription #<%= subscription.id %> on <%= Plan.find(subscription.plan_id).created_at %></p>
    <p>As of <%= Plan.find(subscription.plan_id).updated_at %>, this subscription is set for <%= Plan.find(subscription.plan_id).name %> @ $<%= Plan.find(subscription.plan_id).price %> / mo </p>
    
    <% if (subscription.plan_id < 3) %> <%= link_to 'UPGRAYEDD', upgrade_path(subscription) %> <% end %> 
    <% if (subscription.plan_id > 1) %> <%= link_to 'DOWNGRADE', downgrade_path(subscription) %> <% end %>
    <p><font color="#FF0000"><%= link_to 'Unsubscribe from this subscription',  subscription,  method: :delete, data: { confirm: 'Are you sure?' } %></font></p>
  </li>
<% end %>
</ul>
