# app/views/box/_form.html.erb
 
<%= form_for box do |f| %>
  <%= f.label "Box" %>
  <%= f.text_field :title %>
  <%= f.label "Theme" %>
  <%= f.text_area :theme %>
  <%= f.collection_check_boxes :item_ids, Item.all, :id, :title %>
  <%= f.fields_for :items, box.items.build do |items_fields| %>
    <%= items_fields.text_field :title %>
    <%= items_fields.text_area :description %>
    <%= items_fields.text_field :image_url %>
    <%= items_fields.text_field :size %>
    <%= items_fields.text_field :buy_more_url %>
  <% end %>
  <%= f.submit %>
<% end %>