<% provide(:title, 'Box Index') %>
<h1>All Boxes</h1>

<%= will_paginate %>

<ul class="boxes">
  <%= render @boxes %>
</ul>

<%= will_paginate %>

<% if is_admin? %>
  <%= link_to 'Create a New Box', new_box_path %>
<% end %>