

<% provide(:title, 'Create a new box') %>
<h1>Create a new box!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @box do |f| %>
      <%= f.label :theme %>
      <%= f.text_field :theme, class: 'form-control' %>

      <%= f.label :subscription_level %>

      <select name="box[subscription_level]">
        <% Plan.all.each do |plan| %>
          <option value="<%= plan.id %>"><%= plan.name %></option>
        <% end %>
      </select>


      <%= f.label :month %>
      <%= f.text_field :month, class: 'form-control' %>

      <%= f.label :year %>
      <%= f.text_field :year, class: 'form-control' %>
      <hr>
      
      <%= f.fields_for :items do |item| %>
        <%= item.label :title %>
        <%= item.text_field :title %>
        
        <%= item.label :description %>
        <%= item.text_field :description, class: 'form-control' %>
        <%= item.label :image_url %>
        <%= item.text_field :image_url, class: 'form-control' %>
        <%= item.label :size %>
        <%= item.text_field :size, class: 'form-control' %>
        <%= item.label :buy_more_url %>
        <%= item.text_field :buy_more_url, class: 'form-control' %>
      <% end %>

      <%= f.submit "Create my box", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>