<h1>Box: <%= @box.theme %></h1>

<h4>What's inside the '<%= @box.theme %>' box:</h4>
<ul>
  <% @items.each do |item| %>
    <li><%= link_to item.title, box_item_path(@box, item) %></li>
  <% end %>
</ul>
<% if current_user && current_user.is_admin? %>
  <%= link_to "Click to ship", new_shipment_path(@box, :box_id => @box.id, :box_plan => @box.subscription_level), data: { confirm: "For reals right? Cuz you sure as ship can't unship that ship." } %> to all <%= @plan.name %> subscribers!
<% end %>

