<center>
  <img src="assets/meowboxlogo.png"><br>
  <br>
  <h2>Welcome to MeowBox, the worlds first pet goods delivery service with a borderline disturbing affinity for cat culture!</h2><br><br>
</center>

<% if !@user %>
  <h4>Pawspective clientele, please feel free to check out our <%= link_to "available subscriptions", plans_path %> on offer!</h4><br>
  <h5>Registered users, y'all can just <%= link_to "log in right meow :D", login_path %></h5><br>
<% end %>


</center>

<hr>
<br><br>