<li>
  Sub#<%= subscription.id %> is <%= User.find(subscription.user_id).username %> UIN#<%= subscription.user_id %> subscribed to <%= Plan.find(subscription.plan_id).name %> on <%= subscription.created_at %> <% if current_user.is_admin? %> | <%= link_to "Revoke", subscription, method: :delete,
                                  data: { confirm: "You sure you want to revoke this subscription?" } %> <% end %>
</li>

