<% provide(:title, "Meow we're talking! Meowbox Signup Page") %>
<h1>Meow we're talking! Subscribe to Meowbox!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @subscription do |f| %>
    
      
      <% if @user %>  <!-- if they're logged in, show this salutation and include userid hidden -->
        <%= f.hidden_field :user_id, value: @user.id %>
        Hey <%= @user.first_name %>!
      <% else %>
        SEND THEM TO LOGIN PAGE
      <% end %>

      <% if @plan_signup %> <!-- if they picked a plan -->
        <%= f.hidden_field :plan_id, value: @plan_signup.id %>
        <p>You're signing up for the <b><%= @plan_signup.name %></b> plan, at <b><%= number_to_currency(@plan_signup.price) %> / month</b>!</p>
      <% else %>       <!-- if they didn't pick a plan -->
        Please choose the plan you so desire:
        <select name="box[subscription_level]">
          <% Plan.all.each do |plan| %>
            <option value="<%= plan.id %>"><%= plan.name %> / <%= number_to_currency(plan.price) %></option>
          <% end %>
        </select>
      <% end %>

      <hr>
 
      <%= f.submit "Sign me up!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
