<% provide(:title, 'Create a new item') %>
<h1>Create a new box!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@box) do |f| %>

      <%= f.label :theme %>
      <%= f.text_field :theme, class: 'form-control' %>

      <%= f.label :subscription_level %>
      <%= f.text_field :subscription_level, class: 'form-control' %>

      <%= f.label :month %>
      <%= f.text_field :month, class: 'form-control' %>

      <%= f.label :year %>
      <%= f.email_field :year, class: 'form-control' %>

      <%= f.submit "Create my box", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>