<% provide(:title, @item.title) %>
<div class="row">
  <section class="item_info">
    <h1>
      <%= @item.title %>
    </h1>
    Description: <%= @item.description %><br><br>
    Comes in units of: <%= @item.size %> [<%= link_to "Get more", @item.buy_more_url, :target => "_blank" %>]<br>

    <center><%= image_tag @item.image_url %></center><br>
  </section>
</div>