<li>
  <%= link_to '(*)', shipment %> Shipment # <%= shipment.id %>, of <b><%= shipment.box.theme %></b>, to <i><%= shipment.user.first_name %> <%= shipment.user.last_name %> </i>aka '<%= shipment.user.username %>' on <%= shipment.created_at %>
</li>

