<h1>Plans, plans, plans!</h1>

<% @plans.each do |pl| %>
  <h2><%= link_to pl.name, plan_path(pl) %> / $<%= pl.price.to_i %> per month</h2>
<% end %>
<h6>[ &lt;&lt;&lt; <i><%= link_to "back to home", root_path %> </i>]</h6>