<% provide(:title, @plan.name) %>
<h1>"<%= @plan.name %>"</h1>
<h2>$<%= @plan.price.to_i %> per month</h2>
<br><br>
<h2><%= @plan.description %></h2>


<h2><%= link_to '[ select this plan ]', new_subscription_path(:@plan_level => @plan.id) %></h2>

<h6>[ &lt;&lt;&lt; <i><%= link_to "back to plans index", plans_path %> </i>]</h6>
